<%= form_for(@duser_metric) do |f| %>
  <% if @duser_metric.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@duser_metric.errors.count, "error") %> prohibited this duser_metric from being saved:</h2>

      <ul>
      <% @duser_metric.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value %><br>
    <%= f.number_field :value %>
  </div>
  <div class="field">
    <%= f.label :occur_dttm %><br>
    <%= f.datetime_select :occur_dttm %>
  </div>
  <div class="field">
    <%= f.label :duser_id %><br>
    <%= f.text_field :duser_id, value: current_duser.id, readonly: true%>
  </div>
  <div class="field">
    <%= f.label :metric_id %><br>
    <% @m = Metric.where( " duser_id = 1 or duser_id = ?", current_duser.id ) %>
    <%=f.collection_select(:metric_id, @m, :id, :name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
