    <% @duser_metrics.each do |duser_metric| %>
      <tr>
        <td><%= duser_metric.value %></td>
        <td><%= duser_metric.occur_dttm %></td>
        <td><%= duser_metric.duser %></td>
        <td><%= duser_metric.metric %></td>
        <td><%= link_to 'Show', duser_metric %></td>
        <td><%= link_to 'Edit', edit_duser_metric_path(duser_metric), remote: true, class: "btn btn-default" %></td>
        <td><%= link_to 'Destroy', duser_metric, method: :delete, remote: true, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
